.container {
  min-height: 100vh;
  background-color: #ffffff;
}
/* /////////////////////////////////// */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
 flex-wrap: wrap;
}


.navButtons {
  display: flex;
  border-radius: 15px;
  background-color: #f5f5f5;
   border-radius: 15px;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
}

.navButton {
  background-color:  #f5f5f5;
  color: #000000;
  padding: 0.5rem 1.9rem;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  flex-wrap: wrap;
}



.active {
  background-color: #33c0a8;  
}

.Upcoming{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    
}



/* //////////////////////// */


.mainContent{
    display: flex;
    flex-direction: column;
    padding: 1.2rem;
    gap: 15px;
    flex-wrap: wrap;
  
}
.mainContentHeader{
    display: flex;
    flex-direction: column;
    
}

.mainContentBody{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
}
.cardContainer{
    display: flex;
    width: 225px;
    height: 100px;
    border: 1px solid #7c7c7c;
    border-radius: 10px;
    justify-content: flex-start;
    align-items: center;
    padding: 25px;
    gap: 7px;
}
.cardContainerImage img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.cardContent{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.cardContent h1{
    font-size: 15px;
    font-weight: 500;
}
.cardContent p{
    font-size: 12px;
    font-weight: 300;
    color: #7c7c7c;
}