.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 20px;
  background-color: #fff;
  border-bottom: 2px solid #e0f7f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
}
.logo {
  display: flex;
  align-items: center;
}
.logo img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.logo span {
  font-size: 24px;
  font-weight: bold;
  color: #000;
}

.nav-links a {
  margin: 0 15px;
  text-decoration: none;
  color: #333;
  font-size: 16px;
}

.nav-links a:hover {
  color: #007bff;
}

.auth-buttons button {
  padding: 8px 20px;
  margin-left: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.auth-buttons .login {
  background-color: transparent;
  color: #333;
}

.auth-buttons .sign-up {
  background-color: var(--primary-color);
  color: #fff;
}

.auth-buttons .sign-up:hover {
  background-color: #218838;
}